<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.paperlesssearch</string>
	<key>category</key>
	<string>Shared</string>
	<key>connections</key>
	<dict>
		<key>13D05E15-E98D-4C80-8360-6DF4A5E7C5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C355AA5-1D6B-41E5-8227-567732FB9D52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>203C6217-A25B-4051-9542-187CB9BF1CCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E54D663-2087-4257-945D-E99A98E43BA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>261AB455-00F7-4284-96A4-03ED70E72D23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E4447E-B4F8-4739-BBCB-32CEB5C30049</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E5DF501-71A4-49E5-ACEB-C04EB671B185</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>203C6217-A25B-4051-9542-187CB9BF1CCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>152D09E4-E7D4-4B28-85D3-A338E4208BC3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8A765A16-70CF-4066-BDDF-267CA653A52F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4867A72B-3274-45FF-91B3-4C5B0F4E9AAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48C0C298-B948-4EC7-8984-DDA4346DA3B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48C0C298-B948-4EC7-8984-DDA4346DA3B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EF47622-709E-4B79-BD2A-1215B0D36F23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C355AA5-1D6B-41E5-8227-567732FB9D52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>902D8A1F-6EFB-416E-9CA2-C85FDF00A8AF</string>
				<key>modifiers</key>
				<integer>1310720</integer>
				<key>modifiersubtext</key>
				<string>⌃⌘↩ Show as List</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>203C6217-A25B-4051-9542-187CB9BF1CCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63E4447E-B4F8-4739-BBCB-32CEB5C30049</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15C9B530-0237-4DCF-974F-F4F9F9990C4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E54D663-2087-4257-945D-E99A98E43BA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97363D5C-1C68-416C-81C6-A538FD224572</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C35A9FAA-E38F-4C85-957A-E314F8F5A619</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>902D8A1F-6EFB-416E-9CA2-C85FDF00A8AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F0CA0A5-7E0B-4126-876F-67540B14156F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99E70746-9896-4256-9410-263D98D4BE23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF4F3F3C-FE17-436B-A412-F9DF5059C10E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5C00EA6-19DE-4E30-822D-AA37CD08D233</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6B34764-D906-4EE5-A2E1-8D21E297CEB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8BF92979-3E8C-43C7-90B6-C5201DF0C6BC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAD8C254-BB3A-4D50-93BA-106B14F73A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F000AA1F-B514-44F9-9998-05E2CF51534F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4867A72B-3274-45FF-91B3-4C5B0F4E9AAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>56D023CC-6B52-48FC-9ED5-65F35520269C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C551AF9B-ECBA-4E53-A722-B289F648DC4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3767488B-B0A5-45A0-82F5-688588279056</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5162908A-C70C-4251-9BF9-4A477BC67AFA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1D40BA9-F11E-4487-A5E8-C9FD3970269C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E404C4D8-C922-4B5F-B54F-4B75CFEAD591</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1A51F1C-86E0-46D2-A4EE-A3A66588A3F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C551AF9B-ECBA-4E53-A722-B289F648DC4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E404C4D8-C922-4B5F-B54F-4B75CFEAD591</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13D05E15-E98D-4C80-8360-6DF4A5E7C5EE</string>
				<key>modifiers</key>
				<integer>1310720</integer>
				<key>modifiersubtext</key>
				<string>⌃⌘↩ Show as Grid</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E5DF501-71A4-49E5-ACEB-C04EB671B185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6B34764-D906-4EE5-A2E1-8D21E297CEB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1A51F1C-86E0-46D2-A4EE-A3A66588A3F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEF54A36-1E25-4C69-A272-1479F4247317</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5C00EA6-19DE-4E30-822D-AA37CD08D233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF4F3F3C-FE17-436B-A412-F9DF5059C10E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E5DF501-71A4-49E5-ACEB-C04EB671B185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>Search &amp; open Paperless-ngx documents</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paperless Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>15C9B530-0237-4DCF-974F-F4F9F9990C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listDocuments</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9F0CA0A5-7E0B-4126-876F-67540B14156F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D1D40BA9-F11E-4487-A5E8-C9FD3970269C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>5</integer>
				<key>filterable</key>
				<true/>
				<key>fixedorder</key>
				<false/>
				<key>imageaspect</key>
				<integer>1</integer>
				<key>inputfile</key>
				<string>search.sh</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>Loading...</string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<true/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>5C355AA5-1D6B-41E5-8227-567732FB9D52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
					<string>com.compuserve.gif</string>
					<string>com.microsoft.excel.xls</string>
					<string>com.microsoft.powerpoint.ppt</string>
					<string>com.microsoft.word.doc</string>
					<string>org.oasis-open.opendocument.presentation</string>
					<string>org.oasis-open.opendocument.spreadsheet</string>
					<string>org.oasis-open.opendocument.text</string>
					<string>org.openxmlformats.presentationml.presentation</string>
					<string>org.openxmlformats.spreadsheetml.sheet</string>
					<string>org.openxmlformats.wordprocessingml.document</string>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.plain-text</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Upload to Paperless-ngx</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>261AB455-00F7-4284-96A4-03ED70E72D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:paperless_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listDocuments</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E404C4D8-C922-4B5F-B54F-4B75CFEAD591</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>exit_code=()
for file in "${@}"; do
	curl -sf -w "%{http_code} " -H "Authorization: Token ${token}" -F document=@"${file}" -L "${baseUrl}/api/documents/post_document/" &gt; /dev/null
	exit_code+=($?)
done

fileNum="${#exit_code}"
[[ ${fileNum} &gt; 1 ]] &amp;&amp; plural="s"
typeset -U exit_code
if [[ "${exit_code}" -eq 0 ]]; then
	printf "Successfully Uploaded ${fileNum} File${plural}"
else
	printf "Failed to Upload File${plural}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63E4447E-B4F8-4739-BBCB-32CEB5C30049</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>gridView</key>
					<string>1</string>
					<key>listView</key>
					<string>0</string>
				</dict>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>gridDocuments</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>13D05E15-E98D-4C80-8360-6DF4A5E7C5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>gridView</key>
					<string>0</string>
					<key>listView</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>902D8A1F-6EFB-416E-9CA2-C85FDF00A8AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>displaymode</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.pdf</string>
			<key>uid</key>
			<string>97363D5C-1C68-416C-81C6-A538FD224572</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ "${viewInlinePDF}" ]]; then
	# Download file to cache and open in Alfred
	mkdir -p "${alfred_workflow_cache}"
	curl -sf --compressed -H "Authorization: Token ${token}" -L "${1}" -o "${alfred_workflow_cache}/file.pdf"
	printf "${alfred_workflow_cache}/file.pdf"
else
	# Default browser selection
	[[ -z "${browser}" ]] &amp;&amp; open "${1}" || open -b "${browser}" "${1}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>203C6217-A25B-4051-9542-187CB9BF1CCA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>99E70746-9896-4256-9410-263D98D4BE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:paperless_keyword}d</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>directSearch.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FF4F3F3C-FE17-436B-A412-F9DF5059C10E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:viewInlinePDF}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>C35A9FAA-E38F-4C85-957A-E314F8F5A619</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6E54D663-2087-4257-945D-E99A98E43BA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>reload</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>152D09E4-E7D4-4B28-85D3-A338E4208BC3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>reload</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2E5DF501-71A4-49E5-ACEB-C04EB671B185</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>paperlessReload</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8A765A16-70CF-4066-BDDF-267CA653A52F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E1A51F1C-86E0-46D2-A4EE-A3A66588A3F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>reload.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>paperlessReload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6B34764-D906-4EE5-A2E1-8D21E297CEB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:reloadKeyword} </string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>3767488B-B0A5-45A0-82F5-688588279056</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Documents Updated</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>5162908A-C70C-4251-9BF9-4A477BC67AFA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C551AF9B-ECBA-4E53-A722-B289F648DC4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Default browser selection
[[ -z "${browser}" ]] &amp;&amp; open "${baseUrl}" || open -b "${browser}" "${baseUrl}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EAD8C254-BB3A-4D50-93BA-106B14F73A22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:paperless_keyword}::||{var:paperless_keyword} ::</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>configuration.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FEF54A36-1E25-4C69-A272-1479F4247317</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pref_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reload</string>
						<key>outputlabel</key>
						<string>reload</string>
						<key>uid</key>
						<string>8BF92979-3E8C-43C7-90B6-C5201DF0C6BC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:pref_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>F000AA1F-B514-44F9-9998-05E2CF51534F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:pref_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browser</string>
						<key>outputlabel</key>
						<string>browser</string>
						<key>uid</key>
						<string>56D023CC-6B52-48FC-9ED5-65F35520269C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Browser</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A5C00EA6-19DE-4E30-822D-AA37CD08D233</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Default browser changed</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2EF47622-709E-4B79-BD2A-1215B0D36F23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>currSelected='
	"subtitle": "Currently Selected",
	"match": "",
	"valid": "false"
'

cat &lt;&lt; EOB
{"items": [
	{
		"title": "System Default",
		"arg": "",
		$([[ -z ${browser} ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Arc",
		"arg": "company.thebrowser.Browser",
		$([[ ${browser} == "company.thebrowser.Browser" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Chromium",
		"arg": "org.chromium.Chromium",
		$([[ ${browser} == "org.chromium.Chromium" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Firefox",
		"arg": "org.mozilla.firefox",
		$([[ ${browser} == "org.mozilla.firefox" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Google Chrome",
		"arg": "com.google.Chrome",
		$([[ ${browser} == "com.google.Chrome" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Microsoft Edge",
		"arg": "com.microsoft.edgemac",
		$([[ ${browser} == "com.microsoft.edgemac" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Opera",
		"arg": "com.operasoftware.Opera",
		$([[ ${browser} == "com.operasoftware.Opera" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Orion",
		"arg": "com.kagi.kagimacOS",
		$([[ ${browser} == "com.kagi.kagimacOS" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Safari",
		"arg": "com.apple.Safari",
		$([[ ${browser} == "com.apple.Safari" ]] &amp;&amp; echo $currSelected)
	},
	{
		"title": "Zen",
		"arg": "app.zen-browser.zen",
		$([[ ${browser} == "app.zen-browser.zen" ]] &amp;&amp; echo $currSelected)
	}
]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Browser</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4867A72B-3274-45FF-91B3-4C5B0F4E9AAE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	tell application id "com.runningwithcrayons.Alfred"
		set bundleID to (system attribute "alfred_workflow_bundleid")
		set configuration "browser" to value argv in workflow bundleID
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>48C0C298-B948-4EC7-8984-DDA4346DA3B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

Set the Base URL and API Token of your [Paperless-ngx](https://docs.paperless-ngx.com/) installation in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/). You can find the API Token from the "My Profile" link in the user dropdown found in the web UI.

**Note**: This workflow requires [jq](https://jqlang.github.io/jq/) to function, which comes preinstalled on macOS Sequoia 15 and later.

## Usage

Search your [Paperless-ngx](https://docs.paperless-ngx.com/) documents using the `ppl` keyword. Documents can be presented in a list or a grid.

![Searching for documents](images/about/keyword.png)

![Viewing documents as grid](images/about/grid.png)

Type to refine your search. Documents are always filterable by Title and Creation Date, while filtering by Correspondent, Tag, and Document Type is configurable from the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Filtering document results](images/about/filter.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open document in browser
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open document in Alfred
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; View document details in Paperless web UI
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Switch between list and grid views
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; [Quick Look](https://www.alfredapp.com/help/features/previews/) thumbnail

Append `d` to the configured [Keyword](https://www.alfredapp.com/help/workflows/inputs/keyword) to use Paperless's own search mechanism instead of Alfred's. While slower, this allows for more [granular search functions](https://docs.paperless-ngx.com/usage/#document-searches) by searching against the Paperless API directly.

![Searching for documents](images/about/keywordDirect.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open document in browser
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open document in Alfred
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; View document details in Paperless web UI
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; View search in Paperless web UI
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; [Quick Look](https://www.alfredapp.com/help/features/previews/) thumbnail

While constructing your query, if no documents match, Paperless can provide autocomplete suggestions. Select an autocompletion by pressing &lt;kbd&gt;⇥&lt;/kbd&gt; or &lt;kbd&gt;↩&lt;/kbd&gt;.

![Autocomplete suggestions](images/about/autocomplete.png)

Append `::` to the configured [Keyword](https://www.alfredapp.com/help/workflows/inputs/keyword) to access other actions, including manually reloading the document cache.

![Other actions](images/about/inlineSettings.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as shortcuts for each document search mechanism.

Use the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/) to upload [supported files](https://docs.paperless-ngx.com/faq/#what-file-types-does-paperless-ngx-support) to Paperless from a selection or [Clipboard History](https://www.alfredapp.com/help/features/clipboard/).

![Using the Universal Action](images/about/universalAction.png)</string>
	<key>uidata</key>
	<dict>
		<key>13D05E15-E98D-4C80-8360-6DF4A5E7C5EE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>15C9B530-0237-4DCF-974F-F4F9F9990C4C</key>
		<dict>
			<key>xpos</key>
			<real>1140</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>203C6217-A25B-4051-9542-187CB9BF1CCA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Open Document</string>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>261AB455-00F7-4284-96A4-03ED70E72D23</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2E5DF501-71A4-49E5-ACEB-C04EB671B185</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>2EF47622-709E-4B79-BD2A-1215B0D36F23</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>3767488B-B0A5-45A0-82F5-688588279056</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>4867A72B-3274-45FF-91B3-4C5B0F4E9AAE</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>48C0C298-B948-4EC7-8984-DDA4346DA3B6</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>5C355AA5-1D6B-41E5-8227-567732FB9D52</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>View Documents as Grid</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>63E4447E-B4F8-4739-BBCB-32CEB5C30049</key>
		<dict>
			<key>note</key>
			<string>Upload File(s) to Paperless-ngx</string>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6E54D663-2087-4257-945D-E99A98E43BA5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8A765A16-70CF-4066-BDDF-267CA653A52F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Reload Cache</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>902D8A1F-6EFB-416E-9CA2-C85FDF00A8AF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>97363D5C-1C68-416C-81C6-A538FD224572</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>99E70746-9896-4256-9410-263D98D4BE23</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>9F0CA0A5-7E0B-4126-876F-67540B14156F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>View Documents as List</string>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A5C00EA6-19DE-4E30-822D-AA37CD08D233</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>C551AF9B-ECBA-4E53-A722-B289F648DC4F</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>D1D40BA9-F11E-4487-A5E8-C9FD3970269C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E1A51F1C-86E0-46D2-A4EE-A3A66588A3F4</key>
		<dict>
			<key>note</key>
			<string>Notify if successful</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E404C4D8-C922-4B5F-B54F-4B75CFEAD591</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Main Action &amp; Keyword</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E6B34764-D906-4EE5-A2E1-8D21E297CEB7</key>
		<dict>
			<key>note</key>
			<string>Reload Cache</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EAD8C254-BB3A-4D50-93BA-106B14F73A22</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>FEF54A36-1E25-4C69-A272-1479F4247317</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Configuration</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>FF4F3F3C-FE17-436B-A412-F9DF5059C10E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Direct API Search</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ppl</string>
				<key>placeholder</key>
				<string>ppl</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Paperless-ngx Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>paperless_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search by Correspondent</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Filters</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useCorrespondent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search by Tag</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useTag</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search by Document Type</string>
			</dict>
			<key>description</key>
			<string>Prefixing words with @ filters by correspondent, # filters by tag, $ filters by document type</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useDocumentType</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable Thumbnails</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Appearance</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useThumbnails</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show as Grid by Default</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>defaultToGrid</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable Quick Look</string>
			</dict>
			<key>description</key>
			<string>Tap shift or ⌘Y to Quick Look thumbnails</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useQL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>System Default</string>
						<string></string>
					</array>
					<array>
						<string>Arc</string>
						<string>company.thebrowser.Browser</string>
					</array>
					<array>
						<string>Chromium</string>
						<string>org.chromium.Chromium</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>org.mozilla.firefox</string>
					</array>
					<array>
						<string>Google Chrome</string>
						<string>com.google.Chrome</string>
					</array>
					<array>
						<string>Microsoft Edge</string>
						<string>com.microsoft.edgemac</string>
					</array>
					<array>
						<string>Opera</string>
						<string>com.operasoftware.Opera</string>
					</array>
					<array>
						<string>Orion</string>
						<string>com.kagi.kagimacOS</string>
					</array>
					<array>
						<string>Safari</string>
						<string>com.apple.Safari</string>
					</array>
					<array>
						<string>Zen</string>
						<string>app.zen-browser.zen</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Default browser for opening documents</string>
			<key>label</key>
			<string>Default Browser</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>24</integer>
				<key>markercount</key>
				<integer>13</integer>
				<key>maxvalue</key>
				<integer>24</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Hourly interval to automatically reload document cache (0 to disable)</string>
			<key>label</key>
			<string>Auto-Update</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>autoUpdate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://paperless.mydomain.tld</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The base URL of your Paperless-ngx installation, without a trailing slash</string>
			<key>label</key>
			<string>Base URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>baseUrl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Token</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Used to authenticate against the Paperless-ngx API. You can find this on your Paperless-ngx profile page.</string>
			<key>label</key>
			<string>Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>token</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.9</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-paperless-search</string>
</dict>
</plist>
